/*--- Links ---*/
.link {
	stroke: orange;
	stroke-opacity: .6;
}

/*--- Names (on hover) ---*/
#text {
	pointer-events: none;
	text-rendering: optimizeLegibility;
	stroke: black;
	stroke-width: 1px;
}